<%= simple_form_for @cocktail do |f| %>


  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :photo, as: :attachinary %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
