<h1 class="text-center">Cocktails</h1>

<div class="container">

  <hr>
  <% @cocktails.each do |c| %>

    <div class="row">
      <div class= "col-xs-12">
        <% if c.photo? %>
          <%= cl_image_tag c.photo.path, width: 100, crop: :scale %>
        <% end %>
        <%= link_to c.name, cocktail_path(c) %>
        <hr>
      </div>

  <% end %>

  <hr>

<%= link_to 'New Cocktail',  new_cocktail_path %> |
<%= link_to 'New Ingredient',  new_ingredient_path %>
</div>




